@use '../../scss/variables' as *;
@use '../../scss/mixin' as *;
@use '../../scss/Globals.scss' as *;

.footer_section_main {
  @include flexbox(row, center, center, wrap, null);
  min-height: 300px;
  background-color: $darkgrey;
  bottom: 0;
  width: 100%;
}
.footer_section_inner {
  @include flexbox(row, null, null, null, wrap);
  width: $max-width;
}
.foter_section_1 {
  @include flexbox(row, space-between, center, 10px, wrap);
  color: $lightgrey;
  width: 100%;
}
.foter_section_2 {
  @include flexbox(row, null, null, null, null);
  width: 100%;
}
.footer_logo {
  width: 300px;
  padding: 0px 0px 20px 0px;
}
.payment_icons {
  height: 31px;
}
.foter_seprator {
  padding: 0px 0px 20px 0px;
  width: 100%;
  border-top: 1px solid white;
}
.foter_section_icons {
  @include flexbox(row, null, null, 10px, null);
}
.foter_section_copyright {
  font-size: 0.7rem;
}
