@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tenor+Sans&display=swap');
/* main variables */
$deepred: #663333;
$text: #666666;
$lightgrey: #e3e3e3;
$babypink: #f9f0f1;
$mediumpink: #fcedea;
$darkpink: #CC426A;
$lightyellow: #fdefc5;
$skyblue: #ddeff6;
$turkuaz: #e0f5f5;
$white: #ffffff;
$darkgrey: #222222;
$black: #000000;
$ljusgrey: #f7f7f7;
$mediumgrey: #444444;
$grey: #e3e3e3;
$focus: #FF4858;

$drop-shadow: drop-shadow(6px 4px 12px rgba(255, 255, 255, 0.8));
$drop-shadow-hover: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));

//text, titles
$text-color: $text;
$title-color: $darkgrey;

$font-size-h1: 70px;
$line-height-h1: 70px;
$font-size-h2: 54px;
$line-height-h2: 54px;
$font-size-h3: 40px;
$line-height-h3: 56px;

/* reset */
$main-font: 'Tenor Sans', sans-serif;
$base-font-family: 'Lato', sans-serif;
$custom-font-family: 'Lato', sans-serif;
$title-font-family: $custom-font-family;
$min-width: 320px;
$max-width: 80vw;
$base-bg: $white;
$small-font-size: 0.8rem;
$base-font-size: 1rem;
$base-line-height: 1.2rem;
$link-color: $darkpink;
$transition: all 0.3s linear;
$medium-font-size: 2.2rem;
$block-padding: 40px 0px;
$half-block: 500px;
$height-calc: calc(100vh - 300px);

/* background varition */

.group1 {
  background-color: $skyblue;
}
.group2 {
  background-color: $babypink;
}
.group3 {
  background-color: $lightyellow;
}
.group4 {
  background-color: $turkuaz;
}
.group5 {
  background-color: $darkpink;
}
.group6 {
  background-color: $black;
}
