@use '../../scss/variables' as *;
@use '../../scss/mixin' as *;
@use '../../scss/Globals.scss' as *;

.header_content {
  display: flex;
  flex: 0 0 auto;
  font-weight: 700;
  padding: 5px;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid $mediumgrey;
  align-items: flex-end;
}
.footer_content {
  display: flex;
  flex: 0 0 auto;
  font-weight: 700;
  padding: 5px;
  top: 0;
  z-index: 1;
  align-items: flex-end;
}
.header_content p {
  margin-bottom: 0px;
}
.produkt_title {
  flex: 1 1;
  flex-basis: 0;
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.produkt_pris {
  flex: 0 0 80px;
  text-align: center;
}
.produkt_antal {
  flex: 0 0 50px;
  text-align: center;
}
.produkt_price {
  text-align: right;
  width: 60px;
}
.produkt_bin {
  width: 25px;
  text-align: right;
}
