@use '../../scss/variables' as *;
@use '../../scss/mixin' as *;
@use '../../scss/Globals.scss' as *;
.error_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 3rem;
}
.error_inner {
  min-height: calc(86vh - 350px);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.error_main_heading {
  font-size: 6rem;
}
