@use '../../scss/variables' as *;
@use '../../scss/mixin' as *;
@use '../../scss/Globals.scss' as *;

.productItem {
  position: relative;
  border: 1px solid #f5f4f4;
}
.ny {
  @include flexbox(column, center, center, null, null);
  background-color: $deepred;
  color: $white;
  height: 28px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  text-transform: uppercase;
}
.pcard_title {
  font-family: 'Tenor Sans', sans-serif !important;
  line-height: 1.8rem;
  color: $deepred !important;
  font-size: 1.3rem;
  display: flex;
  flex-grow: 1;
  height: 30px;
  overflow: hidden;
}
.productItem__content {
  padding: 20px;
  @include flexbox(column, null, null, 5px, null);
  justify-content: space-between;
  height: 180px;
}

.product__Img__Area {
  @include flexbox(row, center, null, null, null);
  
}

.labelTag {
  top: 0;
  right: 0;
  position: absolute;
  background-color: $deepred;
  color: $white;
  padding: 5px 18px;
}
.product_desc_1 {
  font-size: 0.85rem;
  color: $darkgrey;
  letter-spacing: 0.6px;
  font-weight: 400;
  display: flex;
  height: 41px;
  overflow: hidden;
}
.product__img {
  width: 100%;
  object-fit: contain;
  filter: $drop-shadow;
  &:hover {
    filter: $drop-shadow-hover;
  }
}
.produkt_price {
  font-weight: 800;
  color: #222222;
  font-size: 1.8rem;
  margin-bottom: 0;
  display: flex;
  flex-grow: 8;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: space-between;
}
.price {
  display: inline-block;
}
button:focus{
  border: solid 4px $black !important;
}
button:focus-visible{
  border: solid 4px $black !important;
}