@use '../../scss/variables' as *;
@use '../../scss/mixin' as *;
@use '../../scss/Globals.scss' as *;
.container {
  max-width: 1200px;
  padding: 20px;
  margin: 60px auto;
}
.cart_container {
  width: 100%;
}
.checkout_buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
